
<h2>{{model.title}}</h2>
<h3>{{model.author}}</h3>

<p>{{model.text}}</p>

{{post-update model=model updatePost="updatePost"}}

<ul>
  {{#each model.comments as |comment|}}
    {{comment-tile comment=comment}}
  {{/each}}
</ul>

<button {{action 'deletePost' model}}>Delete</button>

{{new-comment saveComment="saveComment" post=model}}
